<!-- templates/home.html -->
{% extends 'posts/new_base.html' %}
<!-- {% block content %} -->
{% load blog_tags %}
{% block main_content %}



  <div class="blog_detail_container" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="blog_details">
      <!-- <div class="panel panel-default blog_panel"> -->
        <!-- <div class="panel-body"> -->
          <!-- <div class="blog_detail_content"> -->
            <h2>Buy for $5.00</h2>
            <form action="{% url 'charge' %}" method="post">
            {% csrf_token %}
            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="{{ key }}"
                    data-description="Donate Kaustav Banerjee"
                    data-amount="500"
                    data-locale="auto"></script>
            </form>
            <!-- </div> -->
        <!-- </div> -->
      <!-- </div> -->
    </div><br>
    <div class="blog_details">
        <!-- <div class="panel panel-default blog_panel"> -->
          <!-- <div class="panel-body"> -->
            <!-- <div class="blog_detail_content"> -->
                    <h2>Buy for $10.00</h2>
                    <form action="{% url 'charge' %}" method="post">
                      {% csrf_token %}
                      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                              data-key="{{ key }}"
                              data-description="Donate Kaustav Banerjee"
                              data-amount="1000"
                              data-locale="auto"></script>
                    </form>
              <!-- </div> -->
          <!-- </div> -->
        <!-- </div> -->
      </div>
  </div>
                  

<!-- {% endblock %} -->

{% endblock %}